@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap");

* {
  margin: 0 auto;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  color: #654EA3;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #654EA3;
}

a:hover {
  opacity: .5;
}

body {
  /* background-color: #e7e7e7; */
}

header {
  width: 100%;
  height: 200px;
  padding: 30px;
  box-sizing: border-box;
  /* background-color: red; */
}

header>img {
  margin: auto;
}

.logo{
  text-align: center;
  margin: auto;
}

h1 {
  display: inline;
  text-align: center;
  font-size: 25px;
  width: 300px;
  /* background-color: blue; */
}
header > .logo > p {
  font-size: 14px;
  display: inline;
}
.logo>a {
  color: #654EA3;
}

.nav {
  width: 100%;
  height: 50px;
  line-height: 50px;
  /* background-color: blue; */
}

ul {
  width: 500px;
}

li {
  text-align: center;
  width: 25%;
  float: left;
  font-size: 15px;
  font-weight: 600;
  /* background-color: yellow; */
}

.section01 {
  text-align: center;
  width: 600px;
  height: 300px;
  float: left;
  /* background-color: red; */
}


.section01>select {
  width: 500px;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  font-size: 15px;
  margin: 30px;
  color: #939599;
}

.section01>input {
  width: 500px;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  font-size: 15px;
  margin-bottom: 30px;
}

.login {
  text-align: center;
  width: 250px;
  height: 200px;
  /* border: 1px solid #939599; */
  float: left;
  margin-left: 20px;
  margin: 25px;
}

.login>input {
  width: 200px;
  border: 1px solid #ccc;
  padding: 5px;
  box-sizing: border-box;
  font-size: 13px;
  margin: 5px;
}

.login>p {
  font-size: 11px;
  margin-top: 30px;
}

.section02 {
  clear: both;
  text-align: center;
  padding: 50px;
  height: 200px;
  margin: auto;
}

article>div {
  border: 1px solid #939599;
  border-radius: 50px;
  width: 80px;
  height: 80px;
  font-size: 14px;
  float: left;
  text-align: center;
  margin-left: 80px;
  margin-top: 50px;
  line-height: 80px;
  background-color: #fff7ac;
}

footer {
  clear: both;
  text-align: center;
  height: 100px;
  padding: 50px;
  box-sizing: border-box;
  border: 1px solid #939599;
}